#threshold {
    position: relative;
    top: 30%;
    margin: 15px 0 0 48px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
    width: 1336px;
    height: 67%;
}
#quiz {
    position: relative;
    height: 400px;
    width: 1250px;
    margin: 25px 0 0 0;
}
#quizheading {
    font-size: 18px;
    font-weight: bold;
    text-indent: 0px;
    color: #bf40bf;
    width: 1250px;
}
#querytext {
    width: 1200px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-indent: 0;
    color: #5a5a5a;
}
#start {
    position: fixed;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    background-image: linear-gradient(to left,rgb(191, 85, 236),rgb(178, 222, 39, 1));
    border-radius: 7px;
    text-shadow: 0 1px 1px #fff;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    padding: 12px 31px 12px 31px;
    border: 3px solid #fff;
    text-decoration: none;
    box-shadow: 0 0 6px 2px rgba(195, 221, 235, 1);
}
#start:hover {
    cursor: pointer;
    background-image: linear-gradient(to left,rgb(191, 85, 236),rgb(178, 222, 39, 1));
    text-decoration: none;
    box-shadow: 0 0 6px 2px rgba(195, 221, 235, 1);
}
#submitanswer {
    position: fixed;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
    height: 25px;
    background-image: linear-gradient(to left,rgb(191, 85, 236),rgb(178, 222, 39, 1));
    border-radius: 7px;
    text-shadow: 0 1px 1px #fff;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    border: 3px solid #fff;
    text-decoration: none;
    box-shadow: 0 0 6px 2px rgba(195, 221, 235, 1);
    text-align: center;
    display: none;
}
#submitanswer:hover {
    cursor: pointer;
}
.choicediv {
    width: 1200px;
    color: #5a5a5a;
    font-weight: bold;
    font-style: italic;
}
.choices {
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    color: #5a5a5a;
    display: none;
    margin: 12px 4px 0 6px;
}
.chooseone {
    display: inline;
    position: relative;
}
#questions {
    width: 1200px;
    font-size: 16px;
    text-indent: 0;
    color: #bf40bf;
}
#result {
    display: none;
    width: 1200px;
    border-collapse: collapse;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #5a5a5a;
    margin-top: 35px;
}
#result th,td {
    border: 1px solid #d3d3d3;
    padding: 10px;
}
#score {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-indent: 0;
    color: #bf40bf;
    margin: 0 0 0 4px;
}
#summary {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-indent: 0;
    color: #bf40bf;
    margin: 25px 0 0 4px;
}
.qtitle {
    margin: 20px 0 6px 0;
    padding: 4px;
    color:#bf40bf;
    font-family: arial;
    font-size: 15px;
}
.qchoices {
    margin: 0 0 6px 3px;
    padding: 4px;
    color: #008fcb;
    font-family: arial;
    font-weight: bold;
}

/* 1601 to 1920 Screen Size + Chrome, Safari, and Edge: */
@media (min-width: 1601px) and (max-width: 1920px) {
    #start {
        right:5%;
    }
    #threshold {
        top:30%;
    }
    #quiz {
        top:100%;
    }
    #submitanswer {
        right:5%;
    }
}
